name: Create log events consumer image (branch)

on:
  push:
    branches:
      - 'log-events-consumer'
    paths:
      - 'log-events-consumer/**'
      - '.github/workflows/push-docker-log-events-consumer-branch.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25.x
          cache: false

      - name: Run tests
        run: go test -p 1 -tags ci ./...
        working-directory: log-events-consumer

  docker-publish:
    runs-on: ubuntu-latest
    needs: test

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract branch name
        id: extract
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          echo "branch=$BRANCH_NAME" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./log-events-consumer
          file: ./log-events-consumer/Dockerfile
          push: true
          tags: ghcr.io/qubic/log-events-consumer:${{ steps.extract.outputs.branch }}