on:
  push:
    branches:
      - main
    paths:
      - 'bob-events-bridge/**'
  pull_request:
    paths:
      - 'bob-events-bridge/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

name: Test bob events bridge
jobs:
  test-nocache:
    if: "!startsWith(github.ref, 'refs/tags/')"
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - run: go test -p 1 ./...
        working-directory: bob-events-bridge
  lint:
    name: Lint bob events bridge
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25.x
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6
          working-directory: bob-events-bridge
  govulncheck:
    runs-on: ubuntu-latest
    name: Run govulncheck v2
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: '1.25' # Change this to your project's Go version
          go-package: ./...
          work-dir: bob-events-bridge
